.lui-switch {
    font-size: 13px;
    display: flex;
    align-items: center;

    &-label {
        display: none;
        margin-right: 5px;
    }

    &-button {
        height: 20px;
        padding: 2px;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color 0.1s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-icon {
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: #fff;
            transition: left 0.1s ease-in-out;
            position: absolute;
            left: 2px;
            top: 2px;
        }

        &-flag {
            color: #fff;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            transition: opacity 0.1s ease-out;

            span {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 1;
                vertical-align: middle;
                user-select: none;
            }
        }
    }

    .lui-switch-button-checked {
        .lui-switch-button-icon {
            left: calc(100% - 18px);
        }
    }

    .lui-switch-button-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.lui-switch-small {
        font-size: 12px;

        .lui-switch-button {
            height: 18px;

            &-icon {
                height: 14px;
                width: 14px;
            }
        }

        .lui-switch-button-checked {
            .lui-switch-button-icon {
                left: calc(100% - 16px);
            }
        }
    }

    &.lui-switch-large {
        font-size: 14px;

        .lui-switch-button {
            height: 22px;

            /* stylelint-disable-next-line no-descending-specificity */
            &-icon {
                height: 18px;
                width: 18px;
            }
        }

        .lui-switch-button-checked {
            .lui-switch-button-icon {
                left: calc(100% - 20px);
            }
        }
    }
}
