:host {
    display: inline-block;
}

.lui-radio {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;

    label {
        position: relative;
        display: block;
        padding-left: 25px;
        cursor: pointer;

        &.label-ellipsis {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(3px, -50%);
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            content: "";
            background: #fff;
            border: #adb5bd solid 1px;
        }

        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(6px, -50%);
            display: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: "";
            background: #0077cf;
        }
    }

    input {
        display: none;
        width: 22px;
        height: 22px;
        opacity: 0;
        padding: 0;
        margin: 0;

        &:checked {
            ~ label::before {
                border-color: #0077cf;
            }

            ~ label::after {
                display: block;
            }
        }

        &:disabled {
            ~ label {
                color: #6c757d;
            }

            ~ label::before {
                background-color: #e9ecef;
            }
        }

        &:focus {
            ~ label::before {
                box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
            }
        }

        &:focus:not(:checked) {
            ~ label::before {
                border-color: #80bdff;
            }
        }

        &:disabled:checked {
            ~ label {
                &::before {
                    border-color: #80bdff;
                }

                &::after {
                    background-color: rgb(0 123 255 / 50%);
                }
            }
        }

        &:not(:disabled):not(:checked):not(:focus) {
            ~ label:hover::before {
                border-color: #888;
            }
        }
    }
}
