:host {
    display: inline-block;
}

.lui-select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        position: relative;
        padding-right: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

.lui-select-view {
    cursor: default;
    position: relative;
    background-image: url("./images/select.svg");
    background-repeat: no-repeat;
    background-size: 8px 10px;
    background-position: right 5px center;
    padding: 0 20px 0 5px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #aaa;
    user-select: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        border: 1px solid #888;
    }

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }

    &:disabled {
        border: 1px solid #ccc;
        color: gray;
    }

    &:hover:not(:disabled) {
        border: 1px solid #aaa;
    }

    &.disabled {
        background-color: #eee;
    }

    &:focus:not(:disabled) {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}

.lui-select-input {
    cursor: text;
}

.lui-select-options {
    display: none;
}

/* visibility hidden not display none for width generating */
.lui-select-list {
    position: fixed;
    visibility: hidden;
}
