:host {
    position: static;

    .lui-select-dropdown {
        position: absolute;
        z-index: 99999;
        border-radius: 4px;
        animation-name: fade-in;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        padding: 4px 0;
        background-color: #fff;
    }
}

:host(.lui-select-dropdown-leave) {
    .lui-select-dropdown {
        opacity: 0;
        transition: all 0.2s;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
