:host {
    position: fixed;

    .lui-upload-preview {
        position: fixed;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 12px rgba(0 0 0 / 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .image {
            max-width: 100%;
            max-height: 100%;
        }

        .icon-bottom {
            position: absolute;
            border-top: 5px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        .icon-top {
            position: absolute;
            border-bottom: 5px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid transparent;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
}
