.lui-toast {
    position: fixed;
    z-index: 9999;
    transition-property: top;
    transition-duration: 0.5s;
    border-radius: 4px;
    padding: 10px 14px 10px 40px;
    background-color: #fff;
    color: #666;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    min-height: 42px;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    // center
    &.lui-toast-center-top,
    &.lui-toast-center-center,
    &.lui-toast-center-bottom {
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.lui-toast-center-top-enter {
        animation-name: lui-slide-in-center-top;
    }

    &.lui-toast-center-center-enter {
        animation-name: lui-slide-in-center-center;
    }

    &.lui-toast-center-bottom-enter {
        animation-name: lui-slide-in-center-bottom;
    }

    &.lui-toast-center-top-leave {
        animation-name: lui-slide-out-center-top;
    }

    &.lui-toast-center-center-leave {
        animation-name: lui-slide-out-center-center;
    }

    &.lui-toast-center-bottom-leave {
        animation-name: lui-slide-out-center-bottom;
    }

    // left
    &.lui-toast-left-top,
    &.lui-toast-left-center,
    &.lui-toast-left-bottom {
        left: 50px;
    }

    &.lui-toast-left-top-enter,
    &.lui-toast-left-center-enter,
    &.lui-toast-left-bottom-enter {
        animation-name: lui-slide-in-left;
    }

    &.lui-toast-left-top-leave,
    &.lui-toast-left-center-leave,
    &.lui-toast-left-bottom-leave {
        animation-name: lui-slide-out-left;
    }

    // right
    &.lui-toast-right-top,
    &.lui-toast-right-center,
    &.lui-toast-right-bottom {
        right: 50px;
    }

    &.lui-toast-right-top-enter,
    &.lui-toast-right-center-enter,
    &.lui-toast-right-bottom-enter {
        animation-name: lui-slide-in-right;
    }

    &.lui-toast-right-top-leave,
    &.lui-toast-right-center-leave,
    &.lui-toast-right-bottom-leave {
        animation-name: lui-slide-out-right;
    }

    .icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .close-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

:host {
    font-size: 16px;
    line-height: 1.5;
    position: fixed;
    z-index: 9999;
    top: -1000px;
    left: -1000px;
    width: 100%;
}

@keyframes lui-slide-in-center-top {
    from {
        transform: translate(-50%, -50px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes lui-slide-out-center-top {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50px);
        opacity: 0;
    }
}

@keyframes lui-slide-in-center-center {
    from {
        transform: translate(-50%, -50px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes lui-slide-out-center-center {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50px);
        opacity: 0;
    }
}

@keyframes lui-slide-in-center-bottom {
    from {
        transform: translate(-50%, 50px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes lui-slide-out-center-bottom {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, 50px);
        opacity: 0;
    }
}

@keyframes lui-slide-in-left {
    from {
        transform: translate(-50px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes lui-slide-out-left {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(-50px, 0);
        opacity: 0;
    }
}

@keyframes lui-slide-in-right {
    from {
        transform: translate(50px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes lui-slide-out-right {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(50px, 0);
        opacity: 0;
    }
}
